.Ds_Store
.eslintcache
.yarn
.yarnrc
.vscode
.idea

node_modules
package-lock.json
npm-packages
lerna-debug.log
yarn-error.log
yarn.lock
dist
build

__snapshots__

# umi
.umi
.umi-production
.env.local


#dumi
dumi-static
