body {
  min-width: 1100px;
  margin: 0;
  overflow-x: auto;
  color: #333;
  font-size: 16px;
  font-family: PingFang SC, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f3f6;
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.wonder-doc-row {
  width: 100%;
}
@media (min-width: 1680px) {
  .wonder-doc-row {
      width: 1680px;
      margin: 0 auto;
  }
}
code {
  position: relative;
  display: block;
  margin-top: 20px;
  overflow-x: auto;
  color: #455a64;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
  line-height: 24px;
  white-space: pre-wrap;
  word-break: break-all;
}
pre {
  margin: 0;
}
.hljs {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  background: #fff;
}
.hljs-subst {
  color: #455a64;
}
.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #5758bb;
}
.hljs-comment,
.hljs-quote {
  color: #999;
}
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #07c160;
}
.hljs-deletion,
.hljs-variable {
  color: #88f;
}
.hljs-attr,
.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #1989fa;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-attribute {
  color: #e6550d;
}

.wonder-doc {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wonder-doc-header{
  width: 100%;
  box-shadow: 0 4px 12px #ebedf0;
  -webkit-user-select: none;
  user-select: none;
}
.wonder-doc-header__top {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 30px;
  line-height: 60px;
  background-color: #001938;
}
.wonder-doc-header__logo{
  display: block;
}
.wonder-doc-header__logo span {
  color: #fff;
  font-size: 22px;
}
.wonder-doc-header__top-nav{
  flex: 1;
  font-size: 0;
  text-align: right;
}
.wonder-doc-header__top-nav > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.wonder-doc-header__top-nav-item {
  margin-left: 20px;
}
.wonder-doc-header__cube{
  position: relative;
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 24px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.wonder-doc-header__logo-link img {
  display: block;
  width: 26px;
  height: 26px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wonder-doc-header__logo-link img:hover {
  transform: scale(1.2);
}
.wonder-doc-nav{
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-width: 245px;
  max-width: 245px;
  padding: 0 0 75px;
  overflow-y: scroll;
  background-color: #fff;
  border-right: 1px solid #f1f4f8;
  box-shadow: 0 8px 12px #ebedf0;
}
.wonder-doc-search{
  width: 200px;
  height: 60px;
  margin-left: 140px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  border: none;
}
.wonder-doc-container {
  box-sizing: border-box;
  overflow: hidden;
}
.wonder-doc-container.wonder-doc-has-slide-bar{
  padding-left: 245px;
}
.wonder-doc-content{
  position: relative;
  flex: 1;
  padding: 0 0 75px;
}
.wonder-doc-content section {
  padding: 10px 10px;
  overflow: hidden;
}
.wonder-doc-content .card{
  margin-bottom: 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 12px #ebedf0;
}

.wonder-doc-content .card pre {
  padding: 10px 0;
}
.wonder-doc-content p {
  color: #34495e;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 10px;
}
.wonder-doc-nav__item > a{
  font-weight: 500;
  font-size: 16px;
}
.wonder-doc-nav__subitem a {
  font-size: 14px;
}

.wonder-doc-nav__item a, .wonder-doc-nav__subitem a{
  display: block;
  margin: 0;
  padding: 10px 0 10px 30px;
  color: #455a64;
  line-height: 24px;
  transition: all 0.3s;
}

.wonder-doc-nav__item a.active, .wonder-doc-nav__subitem a.active {
  color: #000;
  font-weight: 500;
  font-size: 15px;
}

.wonder-doc-nav__group-title{
  padding-left: 30px;
  color: rgba(69, 90, 100, 0.6);
  font-size: 12px;
  line-height: 40px;
}

.simulator-wrapper{
  width: 375px; 
  height: 667px;
  box-sizing: border-box;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}

.simulator-wrapper .simulator {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #fafafa;
}

.code-wrapper {
  height: 605px;
  width: auto;
  min-width: 50%;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 12px #ebedf0;
  overflow: auto;
}