@blue: #298BEB;
@red: #f54d4f;
@white: #ffffff;
@black: #333333;
@lightblue: #2abfff;
@yellow: #FFBC4E;
@orange: #FF7A04;
@pink: #ff2d55;
@green: #4cd964;
@gray: #8F8F8F;
@themeColor: @blue;
@buttonTheme : @red;
