@blue: #4D94EE;
@red: #E25B55;
@white: #ffffff;
@black: #333333;
@lightblue: #2abfff;
@yellow: #FFBC4E;
@orange: #FF7A04;
@pink: #ff2d55;
@green: #4cd964;
@gray: #8e8e93;
@themeColor: @red;
@buttonTheme : @themeColor;
